{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}



{% block content %}
    <div class = "container">
      {% if messages %}
        {% for messages in messages %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ messages }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
      {% endif %}
    </div>

    <h1> LOGIN</h1>

    <form action="" method=POST>
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <input type = 'submit'
               value="Submit" class="btn btn-secondary">
    </form>


{% endblock %}